@using HrefTag.WebUI.ViewModels
@model AdminSayfaViewModel

@{
    ViewData["Title"] = "Sayfa İşlemleri";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row p-3">
    <div class="col-12">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Sayfa Listesi</h3>
            </div>
            <div class="p-3">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Başlık</th>
                            <th>Durum</th>
                            <th>Eklenme Tarihi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.sayfaDtos)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Baslik</td>
                                <td>@(item.OnayDurumuId == 1 ? "Yayınlandı" : "Taslak")</td>
                                <td>@item.InsertDate</td>
                                <td>
                                    @if (item.OnayDurumuId == 0)
                                    {
                                        <a class="btn btn-success btn-sm"
                                           onclick="yayinlaId('@item.Id')">
                                            <i class="nav-icon fas fa-check"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-warning btn-sm"
                                           onclick="yayindankaldirId('@item.Id')">
                                            <i class="nav-icon fas fa-undo"></i>
                                        </a>
                                    }
                                    <a class="btn btn-info btn-sm"
                                       onclick="duzenleId('@item.Id')">
                                        <i class="nav-icon fas fa-edit"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm"
                                       onclick="silId('@item.Id')">
                                        <i class="nav-icon fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- /.card -->

<script>
    function yayinlaId(id) {
        window.location.href = "/Admin/Sayfa/yayinla?Id=" + id
    }

    function yayindankaldirId(id) {
        window.location.href = "/Admin/Sayfa/yayindankaldir?Id=" + id
    }

    function silId(id) {
        window.location.href = "/Admin/Sayfa/copeat?Id=" + id
    }

    function duzenleId(id) {
        window.location.href = "/Admin/Sayfa/SayfaDuzenle?Id=" + id
    }
</script>