@using HrefTag.WebUI.ViewModels
@model YaziViewModel
@{
    ViewData["Title"] = "Yazi";
}

<div id="wrapper">
    <div class="main_content">
        <div class="mcontainer">
            <div class="lg:flex lg:space-x-10">
                <div class="lg:w-3/4">
                    <div class="h-44 mb-4 md:h-72 overflow-hidden relative rounded-lg w-full">
                        <img src="~/uploads/@Model.Yazi.OneCikanGorsel" alt="@Model.Yazi.Baslik" class="w-full h-full absolute inset-0 object-cover">
                    </div>
                    <h1 class="lg:text-3xl text-2xl font-semibold mb-6"> @Model.Yazi.Baslik </h1>
                    <div class="space-y-3">
                        @Html.Raw(Model.Yazi.Icerik)
                    </div>

                    <h3 class="mb-8 mt-20 font-semibold text-2xl"> Yorumlar (4610) </h3>
                    <div class="flex gap-x-4 mb-5 relative">
                        <img src="assets/images/avatars/avatar-4.jpg" alt="" class="rounded-full shadow w-12 h-12">
                        <div>
                            <h4 class="text-base m-0"> Stella Johnson</h4>
                            <span class="text-gray-700 text-sm"> Student </span>
                            <p class="mt-3">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam ut laoreet dolore
                                magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>

                        </div>
                    </div>


                    <div class="lg:mt-9 mt-5">
                        <!-- Add comment -->
                        <h3 class="mb-8 mt-20 font-semibold text-xl"> Yorum Yap </h3>
                        <div class="flex space-x-4 mb-5 relative">
                            <img src="assets/images/avatars/avatar-4.jpg" alt="" class="rounded-full shadow w-12 h-12">
                            <div class="flex-1">
                                <div class="grid md:grid-cols-3 gap-4">
                                    <div>
                                        <input type="text" name="AdSoyad" placeholder="Ad Soyad" class="bg-gradient-to-b from-gray-100 to-gray-100">
                                    </div>
                                    <div>
                                        <input type="email" name="Email" placeholder="Email" class="bg-gradient-to-b from-gray-100 to-gray-100">
                                    </div>                                    <div>
                                        <input type="text" name="Website" placeholder="Website" class="bg-gradient-to-b from-gray-100 to-gray-100">
                                    </div>
                                    <div class="col-span-3">
                                        <textarea name="" id="" cols="30" rows="6" class="bg-gradient-to-b from-gray-100 to-gray-100"></textarea>
                                    </div>
                                    <div class="col-span-2 flex justify-between py-4">
                                        <input type="submit" value="Yorumu Gönder">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/4 w-full flex-shrink-0">

                    <div uk-sticky="offset:100" class="uk-sticky">

                        <h2 class="text-2xl font-semibold mb-3"> Popüler İçerikler </h2>
                        <ul>
                            @foreach (var item in Model.populerIceriklerDtos.OrderByDescending(i => i.OkunmaSayisi).Take(6))
                            {
                                <li>
                                    <a asp-controller="Blog" asp-action="yazi" asp-route-Post="@item.UrlBaslik"
                                       class="hover:bg-gray-100 rounded-md p-2 -mx-2 block">
                                        <h3 class="font-medium line-clamp-2"> @item.Baslik</h3>
                                        <div class="flex items-center my-auto text-xs space-x-1.5">
                                            <div>Okunma Sayısı</div>
                                            <div>@item.OkunmaSayisi</div>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                        <br>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>