@using HrefTag.WebUI.ViewModels
@model EtiketYaziViewModel
@{
    ViewData["Title"] = Html.Raw(@Model.etiketDto.Ad);
}




<div class="divide-y">
    @foreach (var item in Model.etiketYaziListDtos)
    {
        <div class="lg:flex lg:space-x-6 py-6">
            <a asp-controller="Blog" asp-action="yazi" asp-route-post="@item.UrlBaslik" title="@Html.Raw(@item.Baslik)">
                <div class="lg:w-60 w-full h-40 overflow-hidden rounded-lg relative shadow-sm">
                    <img src="~/uploads/@item.OneCikanGorsel" alt="@Html.Raw(@item.Baslik)" class="w-full h-full absolute inset-0 object-cover">
                    <div class="absolute bg-blue-100 font-semibold px-2.5 py-1 rounded-full text-blue-500 text-xs top-2.5 left-2.5">
                        @Html.Raw(@item.KategoriAd)
                    </div>
                </div>
            </a>
            <div class="flex-1 lg:pt-0 pt-4">
                <a asp-controller="Blog" asp-action="yazi" asp-route-post="@item.UrlBaslik" title="@Html.Raw(@item.Baslik)"
                   class="text-xl font-semibold line-clamp-2"> @Html.Raw(@item.Baslik)</a>
                <p class="line-clamp-3 pt-1"> @Html.Raw(@item.Ozet) </p>
                <div class="flex space-x-2 items-center text-sm pt-1 text-sm">
                    <div class="flex items-center pt-3">
                        <div class="flex items-center">  <ion-icon name="thumbs-up-outline" class="text-xl mr-2"></ion-icon>@item.OkunmaSayisi görüntülenme </div>
                        <div class="flex items-center mx-4">
                            <ion-icon name="chatbubble-ellipses-outline" class="text-xl mr-2"></ion-icon> @item.YorumSayisi Yorum
                        </div>
                        <div class="flex items-center"> <ion-icon name="bookmark-outline" class="text-xl mr-2"></ion-icon> @Html.Raw(@item.CreateUserFullName)</div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
