@using HrefTag.WebUI.ViewModels
@model HomeViewModel
@{
    ViewData["Title"] = Html.Raw(Model.seoAyarlariDto.Keywords);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main_content">
    <div class="mcontainer">
        @if (Model.genelAyarlarDto.DuyurularAktif == true)
        {
            @foreach (var item in Model.blogYaziListDtos.Where(i => i.DuyuruMu == 1).Take(3).OrderByDescending(i => i.Id).ToList())
            {
                <div class="col-12 flex items-center shadow-lg p-3 rounded-md w-full border-solid border-gray-100">
                    <div class="flex-1 ml-2">
                        <a asp-controller="Duyurular" asp-action="index" class="text-sm font-semibold capitalize">
                            <marquee direction=left> @Html.Raw(@item.Baslik)</marquee>
                        </a>
                    </div>
                </div>
            }
        }

        @if (Model.genelAyarlarDto.EditorunSectikleriAktif == true)
        {
            <div class="grid md:grid-cols-4 grid-cols-2 gap-3 mt-5">
                @foreach (var item in Model.oneCikanlar.Take(8))
                {
                    <div class="transform hover:scale-105">
                        <div class="bg-green-400 max-w-full lg:h-56 h-48 rounded-lg relative overflow-hidden shadow uk-transition-toggle">
                            <a asp-controller="Blog" asp-action="yazi" asp-route-post="@item.UrlBaslik">
                                <img src="~/uploads/@item.OneCikanGorsel" class="w-full h-full absolute object-cover inset-0" alt=" @Html.Raw(@item.Baslik)">
                                <!-- overly-->
                                <div class="-bottom-12 absolute bg-gradient-to-b from-transparent h-2/3 to-gray-800 w-full"></div>
                                <div class="absolute bottom-0 w-full p-3 text-white flex items-center">
                                    <div class="flex-1">
                                        <div class="text-md">
                                            @Html.Raw(@item.Baslik)
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <br>
        }


        <div class="relative" uk-slider="finite: true">
            @*<div class="uk-slider-container px-1 py-3">
                    <ul class="uk-slider-items uk-child-width-1-4@m uk-child-width-1-3@s uk-child-width-1-2 uk-grid-small uk-grid">
                        @foreach (var item in Model.oneCikanlar.Take(8))
                        {
                            <li>
                                <div>
                                    <a asp-controller="Blog" asp-action="yazi" asp-route-post="@item.UrlBaslik" class="w-full md:h-36 h-28 overflow-hidden rounded-lg relative inline-block">
                                        <img src="/uploads/@item.OneCikanGorsel" alt="@item.Baslik" class="w-full h-full absolute inset-0 object-cover">
                                    </a>
                                    <div class="pt-3">
                                        <a asp-controller="Blog" asp-action="yazi" asp-route-post="@item.UrlBaslik" class="font-semibold line-clamp-2">@item.Baslik </a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <a class="absolute bg-white top-16 flex items-center justify-center p-2 -left-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white" href="#" uk-slider-item="previous"> <i class="icon-feather-chevron-left"></i></a>
                    <a class="absolute bg-white top-16 flex items-center justify-center p-2 -right-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white" href="#" uk-slider-item="next"> <i class="icon-feather-chevron-right"></i></a>
                </div>*@

            <div class="row">
                <div class="lg:flex lg:space-x-12 mt-4">
                    <div class="row">
                        <div class="col-8 float-left" style="min-width:300px;">
                            <h2 class="text-xl font-semibold"> Son İçerikler </h2>
                            @foreach (var item in Model.blogYaziListDtos.Take(10))
                            {
                                <div class=" col-6 float-left flex items-center space-x-4 py-2 hover:bg-gray-100 rounded-md px-2" style="min-width:300px">
                                    <div class="w-14 h-14 flex-shrink-0 rounded-md relative">
                                        <img src="/uploads/@item.OneCikanGorsel" class="absolute w-full h-full inset-0 rounded-md object-cover" alt=" @Html.Raw(@item.Baslik)">
                                    </div>
                                    <div class="flex-1">
                                        <a asp-controller="Blog" asp-action="yazi" asp-route-post="@item.UrlBaslik" class="text-sm font-semibold capitalize"> @Html.Raw(@item.Baslik) </a>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-4 float-left" style="min-width:300px;">
                            <h2 class="text-xl font-semibold">Popüler İçerikler</h2>
                            @foreach (var item in Model.populerIcerkler.Take(5))
                            {
                                <div class="flex items-center space-x-4 py-2 hover:bg-gray-100 rounded-md -mx-2 px-2">
                                    <div class="w-14 h-14 flex-shrink-0 rounded-md relative">
                                        <img src="/uploads/@item.OneCikanGorsel" class="absolute w-full h-full inset-0 rounded-md object-cover" alt=" @Html.Raw(@item.Baslik)">
                                    </div>
                                    <div class="flex-1">
                                        <a asp-controller="Blog" asp-action="yazi" asp-route-post="@item.UrlBaslik" class="text-md font-semibold capitalize">@Html.Raw(@item.Baslik) </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>