@using HrefTag.WebUI.ViewModels
@model HomeViewModel
@{
    ViewData["Title"] = Html.Raw(Model.seoAyarlariDto.Keywords);
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.genelAyarlarDto.EditorunSectikleriAktif == true)
{
    <div class="uk-position-relative uk-visible-toggle" style="background-color:#000;" tabindex="-1" uk-slideshow="animation: push">

        <ul class="uk-slideshow-items">
            @foreach (var item in Model.oneCikanlar.Take(8))
            {


                <li>
                    <img src="~/uploads/@item.OneCikanGorsel" alt="@Html.Raw(@item.Baslik)" uk-cover style="opacity:0.8;">
                    <div class="text-center uk-position-bottom p-5 backdrop-filter backdrop-blur-md">
                        <a asp-controller="Blog" asp-action="yazi" asp-route-post="@item.UrlBaslik">
                            <h2 class="font-bold text-2xl text-white">@Html.Raw(@item.Baslik)</h2>
                            <p class="text-lg text-white">@Html.Raw(@item.Ozet)</p>
                        </a>
                    </div>
                </li>

            }
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover text-white p-4" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover text-white p-4" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>
    <br>
}


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8594746141557193"
        crossorigin="anonymous"></script>
<!-- Ana Sayfa Yatay Slider Alt -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8594746141557193"
     data-ad-slot="6425780389"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>


<div class="row my-3">
    <div class="col-md-12">
        <h2 class="text-xl font-semibold"> Son İçerikler </h2>
        @foreach (var item in Model.blogYaziListDtos.Take(30))
        {
            <div class=" col-md-6 float-left flex items-center space-x-4 py-2 hover:bg-gray-100 rounded-md px-2" style="min-width: 225px">
                <div class="w-28 h-28 flex-shrink-0 rounded-md relative">
                    <img src="/uploads/@item.OneCikanGorsel" class="absolute w-full h-full inset-0 rounded-md object-cover" alt=" @Html.Raw(@item.Baslik)">
                </div>
                <div class="flex-1">
                    <a asp-controller="Blog" asp-action="yazi" asp-route-post="@item.UrlBaslik" title="@Html.Raw(@item.Baslik)" class="text-sm font-semibold capitalize"> @Html.Raw(@item.Baslik) </a>
                </div>
            </div>
        }

        <div class="row my-3">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8594746141557193"
                    crossorigin="anonymous"></script>
            <!-- Ana Sayfa Yatay Slider Alt -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8594746141557193"
                 data-ad-slot="6425780389"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>


        <div class="bg-blue-500 border p-4 relative rounded-md" uk-alert>
            <a asp-controller="Sayfa" asp-action="SoruSor" title="soru cevap sayfası">
                <h3 class="text-lg font-semibold text-white">Aradığın yanıtı site içerisinde bulamadın mı?</h3>
                <p class="text-white text-opacity-75">
                    Soru - Cevap alanından sormak istediğin soruyu sor. Yazar ekibimiz senin için yanıtlasın
                </p>
            </a>
        </div>
    </div>
</div>
