@using HrefTag.WebUI.ViewModels
@model IletisimViewModel
@{
    ViewData["Title"] = Html.Raw("İletişime Geç");
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="h-44 mb-4 md:h-72 overflow-hidden relative rounded-lg w-full">
    <img src="~/uploads/@Model.iletisimBilgileriDto.OneCikanGorsel" alt="@Html.Raw(@Model.iletisimBilgileriDto.SayfaBasligi)" class="w-full h-full absolute inset-0 object-cover">
</div>
<h1 class="lg:text-3xl text-2xl font-semibold mb-6 text-center"> @Html.Raw(@Model.iletisimBilgileriDto.SayfaBasligi) </h1>
<div class="divide-y">

    <p>@Html.Raw(@Model.iletisimBilgileriDto.Aciklama)</p>
    <ul class="list-style">
        <li><p><strong>Email:</strong> <a href="@Html.Raw(@Model.iletisimBilgileriDto.Eposta)">@Html.Raw(@Model.iletisimBilgileriDto.Eposta)</a></p></li>
        <li><p><strong>Telefon:</strong> @Html.Raw(@Model.iletisimBilgileriDto.Telefon)</p></li>
        <li><p><strong>Adres:</strong> @Html.Raw(@Model.iletisimBilgileriDto.Adres)</p></li>
    </ul>
    <div class="row">
        @Html.Raw(Model.iletisimBilgileriDto.Harita)
    </div>
</div>
