@using HrefTag.WebUI.ViewModels
@model IletisimViewModel
@{
    ViewData["Title"] = "İletişim Sayfası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="wrapper">
    <!-- Main Contents -->
    <div class="main_content">
        <div class="mcontainer">

            <div class="lg:flex  lg:space-x-12">

                <div class="lg:w-3/4">

                    <div class="divide-y">
                        @foreach (var item in Model.iletisimBilgileriDtos)
                        {
                            <p>@item.Aciklama</p>
                            <ul class="list-style">
                                <li><p><strong>Email:</strong> <a href="@item.Eposta">@item.Eposta</a></p></li>
                                <li><p><strong>Telefon:</strong> @item.Telefon</p></li>
                                <li><p><strong>Adres:</strong> @item.Adres</p></li>
                            </ul>
                        }
                        <div class="row">
                            @foreach (var item in Model.iletisimBilgileriDtos)
                            {
                                @Html.Raw(item.Harita)
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
