@using HrefTag.WebUI.ViewModels
@model SayfaViewModel
@{
    ViewData["Title"] = Html.Raw(@Model.SayfaDtos.Baslik);
}


<div class="h-44 mb-4 md:h-72 overflow-hidden relative rounded-lg w-full">
    <img src="~/uploads/@Model.SayfaDtos.OneCikanGorsel" alt="@Html.Raw(@Model.SayfaDtos.Baslik)" class="w-full h-full absolute inset-0 object-cover">
</div>
<h1 class="lg:text-3xl text-2xl font-semibold mb-6 text-center"> @Html.Raw(@Model.SayfaDtos.Baslik) </h1>
<div class="space-y-3">
    @Html.Raw(Model.SayfaDtos.Icerik)
</div>
