@using HrefTag.WebUI.ViewModels;
@model HeadViewModel;


<meta name="author" content="Kerim Potuk">
<meta name="description" content="@Html.Raw(@Model.seoAyarlariDto.Description)">
<meta name="keywords" content="@Html.Raw(@Model.seoAyarlariDto.Keywords)">
<title>@ViewData["Title"] | @Html.Raw(@Model.seoAyarlariDto.Title)</title>


<meta name="twitter:card" content="@ViewData["twitter:card"]" />
<meta name="twitter:title" content="@ViewData["twitter:title"]" />
<meta name="twitter:description" content="@ViewData["twitter:description"]" />
<meta name="twitter:url" content="@ViewData["twitter:url"]" />
<meta name="twitter:image" content="@ViewData["twitter:image"]" />


@Html.Raw(Model.seoAyarlariDto.Analytics)
@Html.Raw(Model.seoAyarlariDto.Adsense)

@foreach (var item in Model.genelAyarlarDtos)
{
    <link rel="shortcut icon" href="/uploads/@item.Favicon" type="image/x-icon" />
}