@using HrefTag.WebUI.ViewModels
@model AdminYorumViewModel

@{
    ViewData["Title"] = "Onanlanmış Yorumlar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row p-3">
    <div class="col-12">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Onaylanmış Yorumlar</h3>
            </div>
            <div class="p-3">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="w-25">Yorumu Yapan Bilgileri</th>
                            <th class="w-auto">Yorum Detayı</th>
                            <th class="w-auto">Tarih</th>
                            <th style="width:85px;">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.yorumDtos)
                        {
                            <tr>
                                <td>
                                    <strong>Ad Soyad : </strong>@item.AdSoyad<br />
                                    <strong>E-Posta  : </strong>@item.Email<br />
                                    <strong>Websitesi: </strong>@item.Website<br />
                                </td>
                                <td>
                                    <a asp-controller="yazi" asp-action="yazi" asp-route-Post="@item.YaziUrlBaslik">@item.YaziBaslik</a> <br />
                                    @item.KullaniciYorumu
                                </td>
                            <td>
                                @item.InsertDate<br />
                                @item.IpAdres
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm float-left" title="Onay Kaldir"
                                   onclick="onayKaldirId('@item.Id')"
                                   data-toggle="modal" data-target="#modal-onayKaldir">
                                    <i class="nav-icon fas fa-undo"></i>
                                </a>
                                <a class="btn btn-info btn-sm float-left" title="Düzenle"
                                   onclick="duzenleId('@item.Id', '@item.AdSoyad', '@item.Email','@item.Website','@item.KullaniciYorumu')"
                                   data-toggle="modal" data-target="#modal-duzenle">
                                    <i class="nav-icon fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- /.card -->



<div class="modal fade" id="modal-onayKaldir">
    <div class="modal-dialog">
        <div class="modal-content bg-success">
            <form asp-area="Admin" asp-controller="Yorum" asp-action="onayKaldir" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Yorumu Onaydan Kaldır</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Seçmiş olduğunuz yorum yayından kaldırılacaktır. Emin misiniz?</p>
                    <input id="txtonayKaldirid" type="text" name="id" value="" hidden />
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-outline-light">Onayla</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-duzenle">
    <div class="modal-dialog">
        <div class="modal-content bg-info">
            <form asp-area="Admin" asp-controller="Yorum" asp-action="YorumDuzenle" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Kategori Güncelleme İşlemi</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Seçmiş olduğunuz yorumu güncellemek istediğinizden emin misiniz?</p>
                    <input id="txtduzenleid" type="text" name="id" value="" hidden />
                    <div class="form-group col-4 float-left">
                        <label name="AdSoyad">Ad Soyad</label>
                        <input name="AdSoyad" id="txtduzenleAdSoyad" type="text" class="form-control" placeholder="Ad Soyad">
                    </div>
                    <div class="form-group col-4 float-left">
                        <label name="Email">Email</label>
                        <input name="Email" id="txtduzenleEmail" type="text" class="form-control" placeholder="Email Adresi">
                    </div>
                    <div class="form-group col-4 float-left">
                        <label name="Website">Website</label>
                        <input name="Website" id="txtduzenleWebsite" type="text" class="form-control" placeholder="Website Adresi">
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label name="Yorum">Yorum</label>
                            <textarea name="Yorum" id="txtduzenleYorum" type="text" class="form-control" rows="6" placeholder="Yorum"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-outline-light">Güncelle</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<script>
    function onayKaldirId(id) {
        document.getElementById("txtonayKaldirid").value = id;
    }

    function duzenleId(id, AdSoyad, Email, Website, Yorum) {
        document.getElementById("txtduzenleid").value = id;
        document.getElementById("txtduzenleAdSoyad").value = AdSoyad;
        document.getElementById("txtduzenleEmail").value = Email;
        document.getElementById("txtduzenleWebsite").value = Website;
        document.getElementById("txtduzenleYorum").value = Yorum;
    }
</script>