@using HrefTag.WebUI.ViewModels
@model AdminKullaniciListesiViewModel
@{
    ViewData["Title"] = "Kullanıcı Listesi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row p-3">
    <div class="col-md-12">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Kullanıcı Listesi</h3>
            </div>
            <div class="p-3">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Kullanıcı Adı</th>
                            <th>Ad Soyad</th>
                            <th>Email</th>
                            <th>Durum</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.userListDtos)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.UserName</td>
                                <td>@item.CreateUserFullName</td>
                                <td>@item.Email</td>
                                <td>@(item.Status == "True" ? "Aktif" : "Pasif")</td>
                                <td>
                                    <a class="btn btn-info btn-sm" onclick="duzenleId('@item.Id')" data-toggle="modal" data-target="#modal-duzenle">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Düzenle
                                    </a>
                                    <a class="btn btn-secondary btn-sm" onclick="passwordResetId('@item.Id')" data-toggle="modal" data-target="#modal-passwordReset">
                                        <i class="fas fa-lock">
                                        </i>
                                        Şifre Değiştir
                                    </a>

                                    @if (item.Status.Equals("True"))
                                    {
                                        <a class="btn btn-warning btn-sm"
                                           onclick="aktifPasif('@item.Id')">
                                            <i class="nav-icon fas fa-check"></i>
                                            Pasife Al
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-danger btn-sm" onclick="silId(@item.Id)" data-toggle="modal" data-target="#modal-danger">
                                            <i class="fas fa-trash">
                                            </i>
                                            Sil
                                        </a>
                                        <a class="btn btn-success btn-sm"
                                           onclick="aktifPasif('@item.Id')">
                                            <i class="nav-icon fas fa-undo"></i>
                                            Aktife Al
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-danger">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <form asp-area="Admin" asp-controller="Account" asp-action="KaliciSil" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Kullanici Silme İşlemi</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Seçmiş olduğunuz kullanıcı silinecektir. Emin misiniz?</p>
                    <input id="txtid" type="text" name="id" value="" hidden />
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-outline-light">Onayla</button>
                </div>
            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-passwordReset">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <form asp-area="Admin" asp-controller="Account" asp-action="PasswordReset" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Şifre Değiştir</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group">
                    <label>Şifre</label>
                    <input name="PasswordResetUserDto.Password" type="password" class="form-control" placeholder="Yeni Şifre">
                </div>
                <div class="form-group">
                    <label>Şifre Tekrar</label>
                    <input name="PasswordResetUserDto.PasswordTekrar" type="password" class="form-control" placeholder="Şifre Tekrar">
                </div>
                <div class="modal-body">
                    <p>Şifreyi değiştirmek istediğinizden emin misiniz.</p>
                    <input id="txtpasswordResetId" type="text" name="PasswordResetUserDto.Id" value="" hidden />
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-outline-light">Onayla</button>
                </div>
            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div class="modal fade" id="modal-duzenle">
    <div class="modal-dialog">
        <div class="modal-content bg-info">
            <form asp-area="Admin" asp-controller="Account" asp-action="KullaniciDuzenle" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Kullanici Güncelleme İşlemi</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Seçmiş olduğunuz kullanıcı bilgisi güncellenecektir.. Emin misiniz?</p>
                    <input id="txtduzenleid" type="text" name="id" value="" hidden />
                    <div class="form-group">
                        <label name="UserName">Kullanıcı Adı</label>
                        <input name="UserName" id="txtduzenleAd" type="text" class="form-control" placeholder="Kullanıcı Adı">
                    </div>
                    <div class="form-group">
                        <label name="Email">Email Adresi</label>
                        <input name="Email" id="txtduzenleEmail" type="text" class="form-control" placeholder="Kullanıcı Adı">
                    </div>
                    <div class="form-group" hidden>
                        <label name="PasswordHash">Şifre</label>
                        <input name="PasswordHash" id="txtduzenleSifre" type="password" class="form-control" placeholder="Şifre">
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-outline-light">Güncelle</button>
                </div>
            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<script>
    function silId(id) {
        document.getElementById("txtid").value = id;
    }

    function passwordResetId(id) {
        document.getElementById("txtpasswordResetId").value = id;
    }

    function duzenleId(id, ad, email, sifre) {
        document.getElementById("txtduzenleid").value = id;
        document.getElementById("txtduzenleAd").value = ad;
        document.getElementById("txtduzenleEmail").value = email;
        document.getElementById("txtduzenleSifre").value = sifre;
    }
    function aktifPasif(id) {
        window.location.href = "/Admin/Account/aktifPasif?Id=" + id
    }
</script>